:root {

    --page_main_color: #212529;
    --navbar_main_color: #E32238; 
}

.custom-web-button {
    background-color: var(--navbar_main_color);
    color: #FFFFFF;
    border-width: 1px 1px 1px 1px;
    border-radius: 90px 90px 90px 90px;
    border-width: 1px 1px 1px 1px;
    margin: 20px;
    padding: 15px 50px;
}

.custom-web-button:hover {
    color: var(--navbar_main_color);
    background-color: var(--page_main_color);
    transition: 0.5s;
}


body {
    background-color: var(--page_main_color);
    /* background-image: linear-gradient(rgba(227, 34, 56,0.3)); */
}

header {
    /* background-image: linear-gradient(rgba(227, 34, 56,0.3)); */
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-link:hover { color: var(--navbar_main_color); }

.masthead {

    width: 100%;
    height: 200vh;
    min-height: 500px;
    background-image: url("../images/Header_Backg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }

  .lead { margin-bottom: 50px; }

.navbar {
    width: 100%;    
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}


.header-link-getstart {

    font-size: 18px;
    font-weight: 600;
    text-decoration: none;

}


/* ------------------- */
/* MAIN STYLING STARTS */
/* ------------------- */

main { margin: 50px 0px; }

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-columns: dense;
    background-color: #2196F3;
    padding: 10px;
  }

  .item {
    display: grid;
    grid-template-columns: auto auto;

  }

  .grid-item-1 {
    background-color: rgba(179, 0, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px 0px;
    margin: 50px 0px;
    font-size: 30px;
    text-align: center;
  }


  .grid-item-2 {
    background-color: rgba(72, 226, 20, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px 0px;
    margin: 50px 0px;
    font-size: 30px;
    text-align: center;
  }

  /* .grid-item-reverse {
    background-color: rgba(255, 0, 68, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px 0px;
    margin: 50px 0px;
    font-size: 30px;
    text-align: center;
    grid-row-start:1;
  } */

  .grid-reverse {
    background-color: rgba(255, 0, 68, 0.8);
    text-align: center;
    grid-row-start: 2;
  }



#copy_right_text {
    font-size: 15px;
}





/* 

#sp-header{
    background:rgba(255,255,255,0.6);
    transition:background 1.5s ease;
    position:relative;
   z-index:99;
}
#sp-header.header-sticky{
    background:#fff;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:999;
}
#sp-slider{
    margin-top:-50px;
}



*/